.game-background{
  background-image: url('../images/gameBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: padding-box;
  height: 100vh;
  width: 100%;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -120px;
  position: relative;
}

.button-wrapper{
    display: flex;
    justify-content: space-between;
}
.blue-button,
.black-button,
.green-button {
  border-radius: 70%;
  width: 60px;
  padding: 19px;
  border: 3px black;
  font-size: 16px;
  cursor: pointer;
  font-family: cursive;
  color: white;
  text-align:center;
  margin-right: 10px;
}
.blue-button{
  background-color: #7ebadf;
}
.black-button{
  background-color: black;
}
.green-button{
  background-color: green;
}
.blue-button:hover{
  background-color: #97c0d9;
}
.black-button:hover{
  background-color: #75726c;
}
.green-button:hover{
  background-color: #9fef44;
}
.black-button.glow {
  animation: glowing-black 1.3s infinite;
  }
.green-button.glow {
    animation: glowing-green 1.3s infinite;
  }

.btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .board {
    margin-top: -60px;;
    overflow: hidden;
    display:grid;
    border: 9px solid black;
    border-radius: 3%;
   }

  .cell {
    background-color: #026635;
    color: #2196F3;
    padding: 5px;
    border: 2px solid #545454;
    width: 15vw;
    height: 16vh;
    cursor: pointer;
    position: relative;
    top: 0;
  }
  
  .beebot {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 3%;
  }

  .message-page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-content{
    position: relative;
    border: 4px solid black;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 640px;
    background-color: #f6d178;
}
.message-assistant{
  position: fixed;
  top: 0;
  left: 0;
  display:contents;
  text-align: center;
  max-width: 5px;
  overflow: auto;

}

.message-assistant-content {
  width: 250px; /* Increase width for better readability */
  position: absolute;
  bottom: 170px; /* Adjust this to control the distance from the BeeBot */
  left: 3%;
  padding: 1rem;
  border-radius: 20px;
  background: #88b7d5;
  border: 4px solid #c2e1f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  word-wrap: break-word;
  text-align: center;
  max-height: 420px;
  overflow-y: auto;
}

.close-btn{
    position: absolute;
    color: white;
    background-color: black;
    border: 5px solid black;
    border-radius: 30px;
    font-family: "Chewy";
    font-size: 35px;
    line-height: .5;
    text-align: top;
    width: 7%;
    height: 7vh;
    top: -15px;
    right: -15px;
}

.toggle-btn{
  background-color: #d8dee1;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 50px;
  height: 28px;
  left: 5px;
  top: 10px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

.toggle-btn .thumb{
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled{
  background-color: #15b58e;
}

.toggle-btn:hover{
  border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb{
  left: calc(50px - 25px);
}

.button-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -35px;
}
.button-next{
  margin: 10px auto;
  font-size: smaller;
  border: 5px black;
  border-radius: 20%;
  width: 80px;
  height: 40px;
}

.return-button {
  margin: 10px auto; /* Zentriert horizontal */
  font-size: smaller;
  border: 2px solid black;
  border-radius: 40%; 
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setting-button {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  width: 160px; 
  margin-top: 10%;
}

.setting-button:hover {
  background-color: lightgray;
}

.setting-button:active {
  background-color: lightgray;
}



@keyframes glowing-black {
  0% {
    background-color: #000;
    color: #a79e9e;
  }

  50% {
    background-color: #a79e9e;
    color: #000; 
  }

  100% {
    background-color: #000; 
    color: #a79e9e;
  }
}
@keyframes glowing-green {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }

  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }

  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}