.game-background{
  background-image: url('../images/gameBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: padding-box;
  height: 100vh;
  width: 100%;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15vh;

  }
.button-wrapper{
    display: flex;
    justify-content: space-between;
}

.black-button,
.green-button {
  border-radius: 70%;
  width: 60px;
  padding: 19px;
  border: 3px black;
  font-size: 16px;
  cursor: pointer;
  font-family: cursive;
  color: white;
  text-align:center;
  margin-right: 10px;
}

.black-button{
    background-color: black;
  }
.green-button{
    background-color: green;
  }
  .board-container {
    display: flex;
    justify-content: center; /* Zentrieren des Boards horizontal */
    align-items: center; /* Zentrieren des Boards vertikal */
  }
  .board {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 9px solid black;
    border-radius: 4%;
   }

  .cell {
    background-color: #026635;
    color: #2196F3;
    padding: 5px;
    border: 2px solid #545454;
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: relative;
    top: 0;
  }
  .beebot {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 3%;
  }

  .message-page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-content{
    position: relative;
    border: 4px solid black;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: 640px;
    background-color: #f6d178;

}
.close-btn{
    position: absolute;
    color: white;
    background-color: black;
    border: 5px solid black;
    border-radius: 30px;
    font-family: "Chewy";
    font-size: 35px;
    line-height: .5;
    text-align: top;
    width: 7%;
    height: 7vh;
    top: -15px;
    right: -15px;
}
.button-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -35px;
}
.cell-col {
  flex-grow: 1;
}