.home-page {
    background-image: url('../images/homepage.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: padding-box;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 585px;
  }
  
  .button-container {
    margin: 10px; /* Abstand zwischen den Buttons */
  }
  
  .custom-button {
    background-color: #f6a900;
    border: 3px solid black;
    border-radius: 20px;
    color: white;
    font-size: 30px;
    width: 150px; /* Breite der Buttons */
    height: 60px; /* Höhe der Buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Chewy";
    margin: 0%;
  }
  .custom-button:hover{
    background-color: #d69301;
  }
  .inner{
    padding:12px;
  }